body 
{
    background-color: black;

    color: white;
}

.mainFunctions 
{
    background-image: url('https://images.pexels.com/photos/7429625/pexels-photo-7429625.jpeg?_gl=1*fpedco*_ga*MTMzODkxNTYwMS4xNzU4MDgzMDQ4*_ga_8JE65Q40S6*czE3NTgwODMwNDgkbzEkZzEkdDE3NTgwODM5MjIkajIzJGwwJGgw');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.receptPicture 
{
    border-radius: 5%;
}

tr 
{
    border: 2px solid black; /* Adjust color and thickness as needed */
}

.faqButton 
{
    width: 90%;
    text-align: center;
    border: 30%;
}


#displayTXT 
{
    width: 90px;
    height: 40px;
}

.btn 
{
    margin-left: auto;
}

.explainText 
{
    text-align: center;
}

.logo-content 
{
text-align: left;

}


.box 
{
    width: 10px;
    height: 50px;
}

.halfBox 
{
    width: 10px;
    height: 15px;
}

.card
{
    background-color: black;
}



.receptModal 
{
    background-color: slategrey;
}