{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <script src="{% static 'scripts/editTable.js'%}" type="module"></script>
    <h1>Bill Entry</h1>
    <form onsubmit="return false;">
        
        <label for="itemEntry">Item</label>
        <input id = "itemName" type="text" name="itemEntry"/>
        
        <label for="priceEntry">Price</label>
        <input id="itemPrice" type="number" name="priceEntry"/>
        
        <input id="submitButton" type="submit" value="Submit"></input>
    </form>
    
    <table id="itemTable">
        <tr>
            <th>Item Name</th>
            <th>Item Price</th>
        </tr>
    </table>
<h4 id="itemSum"></h4>

<label for="numberOfGuests">Number of Guests:</label>
<input type="number" id="numberOfGuests" name="numberOfGuests" value="1"/>

<input class="btn-secondary" type="button" id="completeButton" name="completeButton" value="Complete"/>

</body>
</html>