{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <script src="{% static 'scripts/readTable.js'%}" type="module"></script>
    <h1>Split Complete</h1>
     <!-- <table id="itemTable">
        <tr>
            <th>Item Name</th>
            <th>Item Price</th>
        </tr> -->
        <h4 id="numberOfGuests"></h4>
        <h4 id="amountPerGuest"></h4>
        <h4>Date</h4>
        <h4>Time</h4>
        <h4 id="totalAmount"></h4>
    </table>
</body>
</html>