 body 
{
     background-repeat: repeat;
     background-size: cover;
     background-color: black;
    color: white;
     display: flex;
}

 #completeButton
 {
     width: 100%;
 }

.halfBox 
{
    width: 10px;
    height: 15px;
}

 #itemName
 {
     width: 25%;
     justify-content: center !important;
 }

 #itemPrice
 {
     width: 23%;
     justify-content: center !important;
 }

 #numberOfGuests
 {
     width: 20.5%;
     justify-content: center !important;
 }

 @media only screen and (max-width: 768px) /*needs to work on ipad air* /*/
 {
     #itemName
     {
         width: 52.7% !important;
     }

     #itemPrice
     {
         width: 46% !important;
     }
     #numberOfGuests
     {
         width: 40%;
     }
 }